body { 
    font-family: "Shantell Sans", cursive;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "BNCE" 0,
    "INFM" 0,
    "SPAC" 0;
   
    background: linear-gradient(to bottom right, #6495ED, #FF00FF, #FF0000);
    /* linear-gradient(direction, color-stop1, color-stop2, ...); */
    min-height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    max-width: 600px;
    padding: 20px;
    background-color: #FFFFFF;
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
width: 800px;
}


input[type="text"] {
    width: 70%;
    padding: 10px;
    margin-bottom: 10px;
}

button {
    padding: 10px 20px;
    background-color: #DEB887;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px; /* Rounded corners */
     font-family: "Shantell Sans", cursive;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "BNCE" 0,
    "INFM" 0,
    "SPAC" 0;
}

button:hover {
    background-color: #D2B48C;
}


ul {
    list-style-type: none;
    padding: 0;
}

.noteItem {
    background-color: #f0f0f0;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 10px; /* Rounded corners */
    position: relative;
    animation: fadeInNote 0.5s ease-in-out; /* Animation for notes */
}

.noteItem:hover {
    background-color: #ddd;
}

.checkbox {
    position: absolute;
    left: 5px;
    top: 50%;
    transform: translateY(-50%);
}

.editButton {
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
}
.crossedOut {
    text-decoration: line-through;
}
.timestamp {
    position: absolute;
    right: 5px;
    bottom: 5px;
    font-size: 12px;
    color: #666;
}
@keyframes fadeInAnimation {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@keyframes fadeInNote {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
